DIR_UTILS = # directory path for utility scripts
DIR_OUTPUT =  # directory path for output files
DIR_UKBB = # directory path from where you can find the relevant non retinal IDPs raw data (modify /src/utils/data_information/data_dataset_info.py accordingly)
INTERM_FOLDER = # folder name created in DIR_UKBB, where the intermediate dat is going to be saved
DIR_FILE_RETINA_IDPS = # directory path and file with the retina IDPs file
DIR_FILE_EID_MAP = # directory path and file with the eids information if they are encrypted differently
OLD_EID = # string variable with the eids column name of retinal IDPs
NEW_EID = # string variable with the eids column name of non-retinal IDPs
DATE_USED = # string variable with the date
HIST_FILE = # string variable representing the file suffix for the histograms plot and the format
END_RAW_IDPS_COV_RETINA = '_idp_cov.csv'

## FILTERED APPLIED
IDP_RETINA_USED = # Options:'homologous_all',  or'homologous_filtered'
IDP_VASCULAR_USED = # Options:'all', 'homologous_all'
Z_SCORE_APPLIED= # Boolean
FILTER_OUTLIERS= # Options: False, "std_method", "iqr_method"
NUM_STD = # int value, with the number of std to filter outliers if you selected "std_method"

## GENETIC ANALYSIS
DIR_LDSR= # directory path where the genetic correlations of all pairs of IDPs are located
DIR_GENES_RET= # directory path where the genes and pathways of the retinal IDPs are located
DIR_OTHER_GENES_PATH= # directory path where the genes and pathways of the non-retinal IDPs are located
FILE_GENETIC_INFO = # file name with the relevant genetic information 'Multiorgan_vascular_IDPs_UKBB_genetic.csv'
N_NAMES_SHOWN= # int value to decide the number of genes/pathways names you want to see

## CAVARIATES
COVARIATES=# Options: 'all', False, 'age_age2_sex', age_age2_sex_PCs
BP_USED= # Boolean
TYPE_BP= # Options: False, 'BP', 'Hypertense', 'MAP'

## PVALS
ALPHA_1 = # float value with the alpha significance for *
ALPHA_2 = # float value with the alpha significance for **
P_VAL_GENES = # float value == -math.log10(0.05/number of genes)
P_VAL_PATHS = # float float value == -math.log10(0.05/number of pathways)
MULTIPLE_TESTING = # Options: 'Complete' == IDPs * (IDPs + Retina), 'Subset' == IDPs * (IDPs + Retina)
SOFT_MULTIPLE_TESTING = # Boolean

## FIGURES NAMES
SQUARE_FIG='_IDPs_IDPs_'
RECT_FIG = '_IDPs_retina_'
DOBLE_FIG='_IDPs_IDPs_and_IDPs_retina_'
L_GEN_PATH= # list of stings to decide if you want to filter by gen, pathway or see both: ['gen', 'pathway']
PLOT_HISTOGRAMS = # Boolean

## PHENOTYPIC PLOTS
TYPE_OF_FIGS = # Options: 'main_figs', 'suppl_figs1', 'suppl_figs2', to decide the phenotypic correlations figures
SAVE_FIGURES = # Boolean
PLOT_SCATTER_FIGS = # Boolean